.profile-cont {
  width: 50%;
  height: 100%;
  top: 0;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  //   padding-top: 15%;
}
.profile-pic {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: flex;
  opacity: 1;
  // border: 2px solid #03dac5;
  border: 2px solid #f72f92;
}

.container.about-page .text-zone p {
  font-family: 'Montserrat';
}
@media screen and (max-width: 600px) {
  .container.about-page {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    .text-zone {
      width: 90%;
      height: 100%;
      position: relative;
      top: 75%;
      left: 7%;
    }
    .profile-cont {
      top: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      height: 205px;
    }
    .profile-pic {
      height: 175px;
      width: 175px;
      position: absolute;
      top: 0;
    }
  }
}
