.nav-bar {
  background: #272a2e;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 24px;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      span {
        font-size: 18px;
      }

      &:hover {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: #03dac5;
      }

      &.active {
        color: #03dac5;
      }

      svg {
        display: none;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 25px;
        line-height: 16px;
        color: #4d4d4e;
        svg {
          color: #03dac5;
          fill: #03dac5;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .tags {
    display: none;
  }
  .nav-bar {
    background: #272a2e;
    width: 100%;
    max-width: 100vw;
    height: 50px !important;
    position: fixed;
    top: calc(100% - 50px);

    nav {
      display: flex;
      justify-content: space-evenly;
      text-align: center;

      height: 5px;
      margin-top: 0px;
      top: 15px;

      span {
        display: none;
      }

      a {
        font-size: 22px;
        color: #4d4d4e;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;

        svg {
          display: block;
        }

        i {
          transition: all 0.5s ease-out;
        }

        &:hover {
          color: #03dac5;

          svg {
            opacity: 0;
          }

          &:after {
            opacity: 1;
          }
        }

        &:after {
          content: '';
          font-size: 14px;
          letter-spacing: 2px;
          position: absolute;
          bottom: 15px;
          right: 20px;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }

        &:first-child {
          &:after {
            content: 'HOME';
          }
        }
      }
    }

    nav {
      a.about-link {
        &:after {
          content: 'ABOUT';
        }
      }
      a.work-link {
        &:after {
          content: 'WORK';
        }
      }

      a.contact-link {
        &:after {
          content: 'CONTACT';
        }
      }

      a.active {
        svg {
          color: #03dac5;
        }
      }
    }

    ul {
      display: none;
    }
  }
}
