.header {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
  top: 0px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.479);
  z-index: 2;

  .top-name {
    width: 20%;
  }

  .header-btns {
    width: 60%;
  }
  ul {
    list-style: none;
    width: 100%;

    li {
      width: 10%;
    }
  }

  .top-contact {
    display: flex;
    width: 10%;
    justify-content: space-around;
    margin-right: 200px;
    /* Tooltip container */
    .tooltip {
      position: relative;

      /* Tooltip text */
      .tooltiptext {
        visibility: hidden;
        background-color: rgb(27, 23, 23);
        color: whitesmoke;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        word-break: keep-all;
        min-width: max-content;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 3;
        padding: 8px;
        top: 100%;
        left: 50%;
        margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
      }
    }
    .tooltip:hover {
      .tooltiptext {
        visibility: visible;
      }
    }
  }
  /* Show the tooltip text when you mouse over the tooltip container */
}

.scrolled {
  background-color: whitesmoke;
  transition: 0.5s;
}
