.work-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  overflow: auto;

  ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
  li {
    margin: 8px;
    padding: 0px;
  }
  list-style: none;
  * {
    margin: 0;
    padding: 0;
  }
  .work-pic {
    width: 300px;
    object-fit: contain;
  }

  .work {
    h2 {
      letter-spacing: 1rem;
      color: white;
    }
    a {
      text-decoration: none;
    }
  }
}
